
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
}

.area1{
    border-bottom: 2px solid grey;
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 40vh;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.block_form1{
    border: 7px dotted rgba(254,255,255,0.2);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    color: rgba(254,255,255,0.2);
}
.block_form2{
    border: 7px dotted rgba(254,255,255,0.2);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    color: rgba(254,255,255,0.2);
}
.block_form3{
    border: 7px dotted rgba(254,255,255,0.2);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    color: rgba(254,255,255,0.2);
}

.area2{
    margin-top: 100px;
    width: 60%;
    padding: 60px;
    display: flex;
    gap: 50px;
}
.area2 div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    
}

.block1 {
    background: linear-gradient(90deg, red , transparent);
}
.block2 {
    background: linear-gradient(90deg, green , transparent);
}
.block3 {
    background: linear-gradient(90deg, blue , transparent);
}

.blockIn {
    border: 7px solid rgba(254,255,255,0.2);
    color: rgba(18, 156, 71, 0.0);
    background-color: rgba(18, 156, 71, 0.2);
    display:block;
    
}
 .innerBlock {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 3px;
}

.hidden {
    display:none;
}
